%h1= t ('shops.index.title')

= t('common.search')
%input#search

%table
  %thead
    %tr
      %th= t ('shops.index.header.name')
      %th= t ('shops.index.header.address')
  - @shops.each do |s|
    %tr{:class => (cycle 'odd', 'even')}
      %td= link_to s.name, view_shop_path(s)
      %td= s.address

.link_new= link_to t('shops.index.new'), new_shop_path
