%h1= t ('shops.index.title')
=#TODO: szukaj
%table
  %thead
    %tr
      %th= t ('shops.index.header.name')
      %th= t ('shops.index.header.address')
  - @shops.each do |s|
    %tr
      %td= link_to s.name, view_shop_path(s)
      %td= s.address

= link_to t('shops.index.new'), new_shop_path
