%h1= t ('things.index.title')

= t('common.search')
%input#search

%table
  %thead
    %tr
      %th= t ('things.index.header.name')
      %th= t ('things.index.header.category')
  - @things.each do |t|
    %tr
      %td= link_to t.name, view_thing_path(t)
      %td= link_to t.category.name, view_category_path(t.category)

= link_to t('things.index.new'), new_thing_path
