%h1= t('things.new.title')

= simple_form_for @thing, :url => url_for(new_thing_path)  do |f|
  = f.input :name
  = f.input :description
  = f.input :unit
  = f.association :category, :collection => @categories
  = f.button :submit
