%h1= @thing.name
%h2= @thing.description
%p= @thing.unit

=#TODO: ilość towaru

.edit= link_to t('things.view.edit'), edit_thing_path(@thing)
.delete= link_to t('things.view.delete'), delete_thing_path(@thing)
