%h1= @thing.name
%h2= @thing.description
%p= (t 'things.view.unit') + ": " +  @thing.unit
%p= (t 'things.view.category') + ": " + @thing.category.name

=#TODO: lista towaru

%input{:type => "checkbox", :onclick => "change_limits()", :id => "limits_checkbox"}= t 'things.view.limit.checkbox'

#limits_place
  = render :partial => "limits_form", :locals => {:thing => @thing}

.edit= link_to t('things.view.edit'), edit_thing_path(@thing)
.delete= link_to t('things.view.delete'), delete_thing_path(@thing)

=#TMP
#thing_id= @thing.id
