%tr
  %td= collection_select("things" + @nr.to_s, "storage", @storages, :id, :getFullName)
  %td= collection_select("things" + @nr.to_s, "category", @categories, :id, :getFullName)
  %td= select_tag("things" + @nr.to_s + "[thing]")
  %td= number_field_tag("things" + @nr.to_s + "[size]")
  %td= number_field_tag("things" + @nr.to_s + "[price]")
  %td= date_select("things" + @nr.to_s + "[price]", "valid_unitl")
  %td= collection_select("things" + @nr.to_s, "shop", @shops, :id, :name)
  %td= collection_select("things" + @nr.to_s, "manufacturer", @manufacturers, :id, :name)


