%h1= t ('storages.index.title')
%table
  %thead
    %tr
      %th= t ('storages.index.header.name')
      %th= t ('storages.index.header.description')
  - @storages.each do |s|
    %tr
      %td= s.name
      %td= s.description

= link_to t('storages.index.new'), new_storage_path
