= javascript_include_tag "search"

%h1= @storage.name
%h2= @storage.description

= t('common.search')
%input#search

= render :partial => "common/thing_instances_table", :locals => {:ti => @ti}

=#substorages

-if @storage.substorages.size != 0
  %h3= t ('storages.view.substorages')

  %ul
    - @storage.substorages.each do |s|
      %li
        = link_to s.name, view_storage_path(s)
        =render :partial => "common/thing_instances_table", :locals => {:ti => s.getNonZeroThingInstances}


.edit= link_to t('storages.view.edit'), edit_storage_path(@storage)
.delete= link_to t('storages.view.delete'), delete_storage_path(@storage)
