= javascript_include_tag "search"

%h1= @category.name
%h2= @category.description

%p= t('categories.view.contents')

= t('common.search')
%input#search

%table.category
  - @category.things.each do |t|
    %tr{:class => (cycle 'odd', 'even')}
      %td= link_to t.name, view_thing_path(t)

.edit= link_to t('categories.view.edit'), edit_category_path(@category)
.delete= link_to t('categories.view.delete'), delete_category_path(@category)
