%h1= t ('manufacturers.index.title')

= t('common.search')
%input#search

%table
  %thead
    %tr
      %th= t ('manufacturers.index.header.name')
  - @manufacturers.each do |m|
    %tr
      %td= link_to m.name, view_manufacturer_path(m)

= link_to t('manufacturers.index.new'), new_manufacturer_path
